
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'matchboxdevelopment@gmail.com';
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
      
      match /reviews/{reviewId} {
        allow read, create: if true;
        allow update, delete: if isAdmin();
      }
    }

    match /payment_keys/{keyId} {
      // Akses publik untuk sistem wallet anonim
      allow get, list, create: if true;
      allow update: if true;
      allow delete: if isAdmin();
    }

    match /wallet_transactions/{txId} {
      // Akses publik untuk melihat riwayat transaksi via Key
      allow get, list, create: if true;
      allow update, delete: if isAdmin();
    }

    match /banners/{bannerId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /vouchers/{voucherId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /bundles/{bundleId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /orders/{orderId} {
      allow create: if true;
      allow get, list: if true; // Diperlukan untuk halaman sukses & riwayat anonim
      allow update, delete: if isAdmin();
    }

    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
